body {
    background-color: #f2f2f2
}

.navbar {
    background-color: rgba(192, 192, 192, 0.308) !important
}

.card-body {
    background-color: rgba(192, 192, 192, 0.308)
}

.card-image {
    max-height: 740px;
}

.slider {
    max-height: 900px;
}

.nav-link {
    font-weight: 800;
}

.navbar-brand {
    font-weight: 800;
}

.icons {
    size: 2px;
}